#footer {
  padding: 0;
}

.meamo-footer {
  background-color: $background_footer;
  margin: 0;
  padding: 3rem 0;
  text-align: center;
  font-weight: $font_default_weight_light;

  strong {
    font-weight: bold;
  }

  &__block-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    .with-icon {
      display: flex;
      align-items: center;
    }
    .icon-wrapper {
      margin: .5rem .5rem .5rem 1.5rem;
      padding: .3rem;
      background-color: $color_meamo_black;
      border-radius: 50%;
    }
    .material-icons {
      font-size: 1.3rem;
      color: $background_footer;

    }
  }

  &__copy-info {
    display: inline-flex;
    margin-bottom: 0.5rem;
    &[href] {
      text-transform: uppercase;
      font-weight: $font_default_weight_bold;
    }
  }
  &__links {
    margin-bottom: 1.5rem;
  }
  &__links-block {
    display: inline-flex;
  }
  &__links-list {
    margin: 0;
    line-height: 2.2em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    li::before {
      content: '|';
      margin: 0 .3rem;
    }
  }

  &__logo {
    margin-top: 2rem;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  img.logo {
    max-height: 100px;
  }
} //media
@media (min-width: 1024px) {
  img.logo {
    max-height: 160px;
  }
} //media
} //.meamo-footer
