.header-navigation {
  text-transform: uppercase;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header_height;
    font-size: 16px;
    padding: 0 25px;
  }
  &__right-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.header-logo {
  padding-right: 25px;
  img {
    max-height: 120px;
  }
}

.header-mainmenu {
  flex-grow: 1;
  & > ul {
    display: flex;
    margin: 0;
  }
  &__element {
    &:not(:last-child) {
      margin-right: 40px;
    }
    &.current {
      font-weight: $font_default_weight_bold;
    }
  }
}

.shopping-cart {
  a {
    display: flex;
  }
}

.currency-selector,
.lang-selector {
  display: flex;
  &__item {
    &[data-current] {
      font-weight: $font_default_weight_bold;
    }
    &:not(:last-of-type)::after {
      content: '/';
      margin: 0 5px;
    }
  }
}

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
@media (min-width: 1440px) {
  .header-navigation {
    &__container {
      padding: 0 50px;
    }
    &__right-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
  .header-logo {
    padding-right: 50px;
    img {
      max-height: 182px;
    }
  }
} //media
