.header-navigation {
  text-transform: uppercase;
  &__container {
    display: flex;
  }
}

.header-logo {

}

.shopping-cart {
  a {
    display: flex;
  }
}

.currency-selector,
.lang-selector {
  display: flex;
  &__item {
    &[data-current] {
      font-weight: $bold_font_weight;
    }
    &:not(:last-of-type)::after {
      content: '/';
      margin: 0 5px;
    }
  }
}
