.section-instagram {
  position: relative;
  line-height: 2em;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    a {
      color: $color_hover_link;
    }
  }
  &__spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #instafeed {
    margin: 0;
  }

  #instafeed.slick-initialized + &__spinner {
    display: none;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  padding: 3rem 0;
  #instafeed {
    img {
      width: 180px;
    }
  }
} //media
@media (min-width: 1024px) {
  padding: 4rem 0;
} //media
} //.section-instagram
