.cms-id-8 .meamo-newsletter {
  display: none;
}

.meamo-wishlist {

  [data-wishlist-list]:not(.ready) {
    & > * {
      display: none;
    }
  }

  [data-wishlist-button-cart] {
    margin: 1rem .5rem;
    flex-grow: 1;
  }

  [data-wishlist-button-delete] i {
    margin: 0;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
@media (min-width: 1440px) {
}//media
} //.meamo-wishlist
