.page-product .meamo-newsletter {
  display: none;
}
#blockcart-modal .product-name {
  //modal after buy button click
  color: $color_hover_link;
}

// ####### meamo-product ##########
.meamo-product {

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__images,
  &__description {
    width: 100%;
  }

  .images-content { //sliders container
    position: relative;
  }
  &__sliders {
    display: flex;
    .slick-list {
      // width: 100%;
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  &__slider-big,
  &__slider-small {
    ul {
      margin: 0;
    }
  }
  &__slider-big {
    flex-grow: 1;
    width: calc(100% - 120px);
  }
  &__slider-small {
    flex-grow: 1;
    width: 120px;
    .slick-slide {
      cursor: pointer;
      position: relative;
      &.slick-current img {
        // border: 2px solid $color_hover_link;
      }
    }
    li {
      padding: 0 1rem 1rem;
    }
  }

  &__description {
    text-align: center;
    .current-price {
      color: $color_meamo_gray;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  &__description-txt {
    font-family: serif;
    padding: 2rem 0;
  }

  .ui.selection.dropdown {
    border-radius: 0;
    border: 2px solid $color_meamo_black;
    max-width: 400px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.dropdown > .text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .ui.selection.dropdown>.dropdown.icon {
    position: static;
    margin: 0;
    padding: 0 0 0 1rem;
    order: 9;
    font-size: 2rem;
    color: $color_meamo_black;
  }
  .ui.dropdown .menu {
    top: calc(100% + 2px);
  }
  .product-variants > .product-variants-item {
    margin-top: 0;
  }

  .color-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-quantity .qty {
    display: none;
  }

  .product-quantity .add {
    width: 100%;
  }
  .product-actions .add-to-cart {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: 5rem;
    border: 0;
    background-color: $color_hover_link;
    color: #fff;
  }

  &__bestsellers-list {
    position: relative;
    &::before {
      font-family: $font_fancy;
      color: $color_meamo_black;
      position: absolute;
      left: 0;
      right: 0;
      white-space: nowrap;
      pointer-events: none;
      z-index: 1;
    }
  }

  .social-sharing {
    display: none;
  }

  #block-reassurance {
    display: none;
  }

  .tabs {
    display: none;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  &__images {
    margin-bottom: 3rem;
    margin-left: -$padding_wrapper;
    margin-right: -$padding_wrapper;
    width: calc(100% + #{$padding_wrapper} * 2);
  }
  &__slider-big {
    width: 100%;
  }
  &__slider-small {
    display: none;
  }
  &__bestsellers-list {
    padding: 4rem 0 1rem;
    &::before {
      font-size: 109px;
      top: 2rem;
    }
  }
} //media
@media (min-width: 1024px) {
  &__row {
  }
  &__images,
  &__description {
    width: 50%;
  }
  &__bestsellers-list {
    padding: 7rem 0 1rem;
    &::before {
      font-size: 190px;
      top: 4rem;
    }
  }
} //media
@media (min-width: 1440px) {
  &__bestsellers-list {
    padding: 18rem 0 1rem;
    &::before {
      font-size: 350px;
      top: 11rem;
    }
  }
}//media
} //.meamo-product
