.cms-id-4 .meamo-newsletter {
  display: none;
}

.meamo-aboutus {
  &__sides {
    display: flex;
  }

  &__side-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__quote {
    // background-image: url('/themes/meamo/assets/img/meamo-quote.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 15px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.4rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  &__txt {
    font-family: serif;
    margin-bottom: 3rem;
  }

  &__side-img {
    img {
      width: 100%;
    }
  }

  &__fancy-txt {
    position: relative;
    overflow: hidden;
    &::before {
      font-family: $font_fancy;
      color: $color_meamo_black;
      position: absolute;
      left: 0;
      right: 0;
      text-align: right;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  &__more-link {
  }

  &__bottom-quote {
    p {
      max-width: 800px;
    }
  }

  &__button {
    margin-bottom: 3rem;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  &__sides {
    flex-direction: column;
  }
  &__side-txt {
    padding: 1rem;
  }
  &__fancy-txt::before {
    font-size: 110px;
    top: 2rem;
    right: -1rem;
    color: white;
  }
} //media
@media (min-width: 1024px) {
  &__sides {
    margin-top: 3rem;
    &.reverse-desktop {
      .meamo-aboutus__side:nth-child(2) {
        order: -1;
      }
    }
  }
  &__side {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
  }
  &__side-txt {
    padding: 3rem;
  }
  &__fancy-txt::before {
    font-size: 190px;
    top: 4rem;
  }
} //media
@media (min-width: 1440px) {
  &__fancy-txt::before {
    font-size: 350px;
    top: 6rem;
  }
}//media
} //.meamo-aboutus
