.page-product .meamo-newsletter {
  display: none;
}

.meamo-product {

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__images,
  &__description {
  }

  &__description {
    text-align: center;
    .current-price {
      color: $color_meamo_gray;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  &__description-txt {
    font-family: serif;
    padding: 2rem 0;
  }

  .ui.selection.dropdown {
    border-radius: 0;
    border: 2px solid $color_meamo_black;
    max-width: 400px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.dropdown > .text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .ui.selection.dropdown>.dropdown.icon {
    position: static;
    margin: 0;
    padding: 0 0 0 1rem;
    order: 9;
    font-size: 2rem;
    color: $color_meamo_black;
  }
  .ui.dropdown .menu {
    top: calc(100% + 2px);
  }
  .product-variants > .product-variants-item {
    margin-top: 0;
  }

  .product-quantity .qty {
    display: none;
  }

  .product-quantity .add {
    width: 100%;
  }
  .product-actions .add-to-cart {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: 5rem;
    border: 0;
    background-color: $color_hover_link;
    color: #fff;
  }

  .social-sharing {
    display: none;
  }

  #block-reassurance {
    display: none;
  }

  .tabs {
    display: none;
  }

@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
  &__row {
  }
  &__images,
  &__description {
    flex-basis: 50%;
  }
} //media
@media (min-width: 1440px) {
}//media
} //.meamo-product
