.meamo-productbox {
  width: 380px;
  // height: 570px;
  .thumbnail-container {
    .product-thumbnail {
      width: 100%;
      // height: 570px;
      height: auto;
    }
  }

  .product-flags li.product-flag {
    background: $background_prod_flag;
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }
  &__title {
    color: $color_prod_title;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-right: .5rem;
  }
  &__price {
    color: $color_prod_price;
    font-size: 1rem;
    line-height: 1.5rem;
  }
@media (max-width: 767px) {
  width: 300px;
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
} //.meamo-productbox
