@font-face {
  font-family: "England";
  src:  url("../fonts/England.otf") format("opentype"),
        url("../fonts/England.ttf") format("truetype");
}

@font-face {
  font-family: "MODERNSPACE";
  src:  url("../fonts/MODERNSPACE.otf") format("opentype"),
        url("../fonts/MODERNSPACE.ttf") format("truetype");
}
