/*
General settings
*/

* {
  box-sizing:border-box;
}

body {
  font-family: $font_default;
  // color: $color1;
  font-weight: $font_default_weight;
  background-color: $base_color_background;
}

a {
  color: inherit;
  &:hover {
    color: $color_hover_link;
  }
}
