$font_default: 'Lato', sans-serif;
$font_default_weight: 400;
$font_default_weight_bold: 600;
$base_color_background: #fdfcfb;

$font_fancy: 'England', serif;
$font_bigtitle: 'MODERNSPACE', serif;

$color_hover_link: #d0ad90;
$color_meamo_black: #292929;
$color_meamo_gray: #848484;

$color_border_header: #b7b6b6;

$header_height_max: 200px;
$header_height_medium: 130px;
$header_height_mobile: 80px;

$width_wrapper: 1720px;
$padding_wrapper: 1.5rem;

$background_about: #e7dcd3;
$color_about_text: $color_meamo_black;

$color_home_prod_button: $color_meamo_black;

$color_prod_title: $color_meamo_black;
$color_prod_price: $color_meamo_gray;
$background_prod_flag: #d0ad90;

$background_footer: #e7dcd3;
