$font_default: 'Lato', sans-serif;
$font_default_weight: 400;
$font_default_weight_bold: 600;
$base_color_background: #fdfcfb;

$font_fancy: 'England', serif;
$font_bigtitle: 'MODERNSPACE', serif;

$color_hover_link: #d0ad90;

$header_height: 345px;

$about_background: #e7dcd3;
