$font_default: 'Lato', sans-serif;
$font_default_weight: 400;
$font_default_weight_bold: 600;
$base_color_background: #fdfcfb;

$font_fancy: 'England', serif;
$font_bigtitle: 'MODERNSPACE', serif;

$color_hover_link: #d0ad90;

$header_height: 345px;

$background_about: #e7dcd3;
$color_about_text: #292929;

$color_home_prod_button: #292929;

$color_prod_title: #292929;
$color_prod_price: #848484;
$background_prod_flag: #d0ad90;
